*{
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    padding: 0;
}
#minfo {
    width: 650px;
    height: auto;
    padding: 12px;
    font-size: 14px;
    margin: 0 auto;
}
.clearfix {
    display: block;
}
#minfo .img {
    float: left;
    width: 165px;
    padding-left: 0px;
    padding-right: 0px;
}
#minfo .img img {
    border-top-color: rgb(207, 202, 193);
    border-right-color: rgb(207, 202, 193);
    border-bottom-color: rgb(207, 202, 193);
    border-left-color: rgb(207, 202, 193);
}
#minfo .img img {
    width: 150px;
    padding: 1px;
    border: #DEDEDE 1px solid;
}
#minfo .info {
    float: left;
    width: 450px;
    line-height: 1.9em;
    padding: 4px 0 0 4px;
    font-size: 14px;
}
.font14{
    color: rgb(42, 47, 50);
    font-size: 18px !important;
    font-weight: 700;
    display: inline;
}
.font_888{
    color: rgb(127, 124, 118);
}
#minfo .info a {
    font-size: 14px;
}
a:visited {
    color: rgb(42, 47, 50);
}